/* Comentario en .css*/
body{

    background-color: rgb(207, 215, 251);    /* pilas con el ;, https://htmlcolorcodes.com/ página de colores   */
                                               /* https://htmlcolorcodes.com/ */
                                               /* rgb es rojo, verde y azul   */
    color: rgb(15, 49, 247);                             /* color de letras   */
    font-family:monospace;                     /* tipo de letras   */ 
    padding-left:5em ;                         /* espaciado de letras   */
}

