/* Comentario en .css*/
body{

    background-color: rgb(244, 248, 230);    /* pilas con el ;, https://htmlcolorcodes.com/ página de colores   */
                                               /* https://htmlcolorcodes.com/ */
                                               /* rgb es rojo, verde y azul   */
    color: rgb(204, 244, 250);                             /* color de letras   */
    font-family:monospace;                     /* tipo de letras   */ 
    padding-left:5em ;                         /* espaciado de letras   */
}

